{% if site.enable_publication_thumbnails %}
  <div class="col col-sm-2 abbr">
    {%- if entry.abbr -%}
      {%- if site.data.venues[entry.abbr] -%}
        {% assign venue_style = null %}
        {% if site.data.venues[entry.abbr].color != blank %}
          {% assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' %}
        {%- endif -%}
        <abbr
          {% if venue_style %}
            {{ venue_style }}
          {% endif -%}
        >
          {% if site.data.venues[entry.abbr].url %}
            <a href="{{ site.data.venues[entry.abbr].url }}">{{ entry.abbr }}</a>
          {% else %}
            <div>{{- entry.abbr -}}</div>
          {% endif %}
        </abbr>
      {% else %}
        <abbr>{{ entry.abbr }}</abbr>
      {% endif %}
    {% endif %}
    {% if entry.preview %}
      {% if entry.preview contains '://' %}
        <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
      {% else %}
        {% assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' %}
        {%
          include figure.liquid
          loading="eager"
          path=entry_path
          sizes = "200px"
          class="preview z-depth-1 rounded"
          zoomable=true
          alt=entry.preview
        %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}