---
layout: page
---
<div class="post">
  <article>
    {% assign categories = "undergraduate,graduate,postdoc,alumni" | split: "," %}
    
    {% for category in categories %}
      <h2>{{ category | capitalize }}</h2>
      {% assign profiles_in_category = site.pages | where: "layout", "profiles" | map: "profiles" | first | where: "category", category %}
      
      {% if profiles_in_category.size > 0 %}
        {% for profile in profiles_in_category %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="Profile Image" style="max-width: 100px;">
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p>No profiles in this category.</p>
      {% endif %}
    {% endfor %}
  </article>
</div>